<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment">
    <!-- html 코드 작성 -->
    <div id="main">
        <div class="menu">
            <ul>
                <li><a onclick="location.href='/'">홈</a></li>
                <li><a onclick="location.href='/insertCar'">차량관리</a></li>
                <li><a onclick="location.href='/salesInformation'">판매 정보 등록</a></li>
                <li><a onclick="location.href='/salesSelectCar'">판매 목록</a></li>
            </ul>
        </div>

    </div>
</th:block>

</html>