<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    .wrap{
        margin: 0 auto;
        width: 500px;
        height: 500px;
        border: 1px solid black;
        text-align: center;
    }
    .ta{
        margin-top: 50px;
        margin-left: 100px;
        background-color: #b8c4e6;
        width: 300px;
        text-align: center;
    }
</style>
</head>
<body>
    <div class="wrap">
        <div class="ta">
            <table>
                <tr class="t1">
                    <td>학번</td>
                    <td>학생명</td>
                    <td>국어점수</td>
                    <td>영어점수</td>
                    <td>총점</td>
                </tr>
            </table>
        </div>
            <form action="">
                <input type="submit" value="학생등록">
            </form>
    </div>
</body>
</html>