<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="buyMapper">

    <resultMap id="buy" type="com.green.shop.buy.vo.BuyVO">
        <id column="BUY_CODE"          property="buyCode"/>
        <result column="MEMBER_ID"     property="memberId"/>
        <result column="BUY_PRICE"     property="buyPrice"/>
        <result column="BUY_DATE"      property="buyDate"/>
        <collection property="buyList" resultMap="buyDetail"/>
    </resultMap>

    <resultMap id="buyDetail" type="com.green.shop.buy.vo.BuyListVO">
        <id column="BUY_DETAIL_CODE"     property="buyDetailCode"/>
        <result column="ITEM_CODE"           property="itemCode"/>
        <result column="BUY_CNT"             property="buyCnt"/>
        <result column="TOTAL_PRICE"         property="totalPrice"/>
        <result column="BUY_CODE"            property="buyCode"/>
        <!-- 1 대 1 관계 -->
        <association property="itemVO" resultMap="itemMapper.selectItem"/>
    </resultMap>

    <!-- 다음에 INSERT할 BUY_CODE -->
    <select id="selectNextBuyCode" resultType="int">
        SELECT IFNULL(MAX(BUY_CODE), 0) +1 FROM SHOP_BUY
    </select>

    <insert id="insertBuy">
        INSERT INTO SHOP_BUY (
            BUY_CODE
            , MEMBER_ID
            , BUY_PRICE
        )
        VALUES (
            #{buyCode}
            , #{memberId}
            , #{buyPrice}
        )
    </insert>

    <!-- 구매 상세 정보 insert-->
    <insert id="insertBuyDetail">
        INSERT INTO BUY_DETAIL (
            ITEM_CODE
            , BUY_CNT
            , TOTAL_PRICE
            , BUY_CODE
        ) VALUES
            <!-- 들어오는 데이터 만큼 반복. -->
            <foreach collection="buyList" item="buy" separator=","  >
               (
                #{buy.itemCode}
                , #{buy.buyCnt}
                , #{buy.totalPrice}
                , #{buyCode}
                )
            </foreach>
    </insert>

    <insert id="insertProductBuy">
        INSERT INTO BUY_DETAIL (
            ITEM_CODE
            , BUY_CNT
            , TOTAL_PRICE
            , BUY_CODE
        ) VALUES (
            #{itemCode}
            , #{buyCnt}
            , #{totalPrice}
            , #{buyCode}
        )
    </insert>

    <!-- 구매 목록 조회(사용자용)-->
    <select id="selectBuyList" resultMap="buy">
        SELECT BUY.ITEM_CODE
            , BUY.BUY_CODE
            , BUY_CNT
            , TOTAL_PRICE
            , ATTACHED_FILE_NAME
            , ITEM_NAME
            , BUY_DATE
            , BUY_PRICE
            , MEMBER_ID
        FROM BUY_DETAIL BUY INNER JOIN shop_item ITEM
        ON BUY.ITEM_CODE = ITEM.ITEM_CODE
        INNER JOIN item_image IMG
        ON BUY.ITEM_CODE = IMG.ITEM_CODE
        INNER JOIN shop_buy SHOP
        ON SHOP.BUY_CODE = BUY.BUY_CODE
        WHERE IS_MAIN ='Y'
        AND MEMBER_ID = #{memberId}
    </select>
</mapper>































