<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트</title>
</head>
<body>
    <div id="container">
        <input type="button" value="원래있는 버튼">
    </div>

    <input type="button" value="버튼 추가" onclick="addBtn()">
    <input type="button" value="버튼 삭제" onclick="removeBtn()">
    <script>

        //태그 추가 및 삭제
        function addBtn(){
            const divTag = document.querySelector('#container');

            //insertAjacentHTML - 태그추가
            //첫번째 매개변수 : 태그가 삽입 될 위치
            //두번째 매개변수 : 삽입할 태그
            //afterBegin : 태그가 시작되고 난 후
            //afterend : 태그가 끝나고 나서
            //beforeBegin : 태그가 시작되기 전에
            //beforeend: 태그가 끝나기 전에

            const str = '<input type="button" value="버튼">';
            divTag.insertAdjacentHTML('beforeend',str);
        }

      
        function removeBtn(){
            const divTag = document.querySelector('#container');
              //remove : 선택한 태그 및 모든 하위태그 삭제
                divTag.remove();

             //선택한 태그 안의 하위 태그들만 삭제
                divTag.innerHTML = ''; 
        }
    </script>

</body>
</html>