<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layot= "http://www.ultrag.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title></title>
<th:block layout:fragment="content_css">

</th:block>
<style>
    h3{
        background-color: #f3b4b4;
    }
</style>
</head>
<body>
    <h3>
        layout 파일입니다.
    </h3>
    <div>
        <th:block th:replace="~{fragment/menu::manufragment}"></th:block>
    </div>
    <div> 
        <th:block th:replace="~{fragment/side_menu::side_menuFragment}"></th:block>
    </div>
    <div>
        <th:block th:replace="~{fragment/footer::footerFragment}"></th:block>
    </div>
    <div>
        <th:block layout:fragment="contentFragment"></th:block>
    </div>
     
</body>
</html>